/***
* VARIÁVEIS
***/

$azul-1: #2969BD;

$cinza-1: #efefef;
$cinza-2: #e2e2e2;
$cinza-3: #d9d9d9;
$cinza-4: #bfbfbf;
$cinza-5: #898d8f;
$cinza-6: #515151;

$branco: #fff;
$preto: #000;


/***
* COLLECTIONS
***/

.tainacan-title .tainacan-title-page { border-bottom: none !important; }
.tainacan-title .title-page {
	font-size: 1.4rem;
	font-weight: 700 !important;
	color: $preto;
}
.tainacan-title .title-back {
	color: $preto;

	a { color: $preto; }
}

.tainacan-title { margin-bottom: 32px; }
.title-content-items {
	margin: 0 0 45px 5%;
	font-weight: 700;
	font-size: 1.2rem;
	color: $azul-1;
}
.box-tainacan-document {
	width: 100%;
	margin-bottom: 100px;
	padding: 0 9%;
	text-align: center;
}

.box-tainacan-document__data {
	margin-bottom: 30px;
	text-align: left;

	strong {
		margin-bottom: 12px;
		font-size: .9rem;
		color: $preto;
		display: block;
	}
	p {
		font-size: .9rem;
		color: $preto;
	}
	img {
		max-width: 100%;
		display: block;
	}
}

.box-tainacan-document__playlist {
	margin-bottom: 30px;
	text-align: left;

	strong {
		margin-bottom: 15px;
		font-size: .9rem;
		color: $preto;
		display: block;
	}

	.playlist {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.audio-player {
		height: 19px;
		margin: 0 0 66px;
		position: relative;

		.player { height: 100%; }

		.controls {
			width: auto;
			height: auto;
			position: static;
			top: auto;
			left: auto;
		}

		.controls .play,
		.controls .pause {
			width: 19px;
			height: 19px;

			&:after { font-size: 16px; }
		}

		.progressbar {
			width: 172px;
			top: 7px;
			left: 25px;
		}

		.timeHolder {
			top: 0;
			left: 207px;

			.time-current,
			.time-duration,
			.time-separator { font-size: 0.8rem; }
		}

		.volume {
			width: 82px;
			top: 2px;

			.volume-btn:after { color: $cinza-6; }
			.volume-adjust { width: 60px; }
		}
	}
}

@media screen and (max-width: 1200px) {
	.box-tainacan-document__playlist {
		.audio-player {
			height: 34px;

			.controls .play,
			.controls .pause {
				top: auto;
				bottom: 0;
			}

			.progressbar {
				width: 100%;
				padding-left: 26px;
				top: auto;
				left: 0;
				bottom: 7px;
			}

			.timeHolder { left: 25px; }
		}
	}
}

.box-acervo-info {
	margin: 0;
	padding: 0 0 100px;
}
.box-acervo-info__title {
	margin: 0 0 45px 5%;
	font-weight: 700;
	font-size: 1.2rem;
	color: $azul-1;
}
.box-acervo-info__image { margin: 0 0 0 9%; }
.box-acervo__metadata {
	margin: 0 0 0 9%;
	padding: 0;
	list-style-type: none;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	column-gap: 60px;

	li {
		margin-bottom: 34px;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
		display: block;

		img {
			max-width: 100%;
			display: block;
		}
	}

	p {
		margin: 0;
		font-weight: 400;
		font-size: .9rem;
		color: $cinza-6;
		line-height: 1rem;
	}
}
.box-acervo__header {
	width: 100%;
	height: 100%;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	position: relative;

	img {
		max-width: 100%;
		height: 100%;
		display: block;
	}
}
.box-acervo__metadata-title {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: .9rem;
	color: $cinza-6;
}
.box-acervo__social-media-list {
	margin: 0 -4px;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;

	li {
		width: 38px;
		height: 30px;
		margin: 0;
		padding: 0 4px;

		img {
			width: 100%;
			display: block;
		}
	}
}

.single-item-collection--document {
	margin-bottom: 120px;
	text-align: center;
}
.tainacan-border {
	width: 100%;
	height: 1px;
	margin: 30px 0;
	display: block;
	background-color: $cinza-2;
}

@media screen and (max-width: 992px) {
	.box-acervo__metadata { column-count: 2; }
}
@media screen and (max-width: 600px) {
	.box-acervo__metadata {
		column-count: unset;
		column-gap: unset;
	}
}

/* CARROSSEL DE ANEXOS */

.box-carousel-attachments {
	width: 100%;
	padding: 0;
	position: relative;
}
.box-carousel-attachments__title {
	margin: 0 0 45px 5%;
	font-weight: 700;
	font-size: 1.2rem;
	color: #2f9187;
}
.box-carousel-attachments__wrapper {
	margin: 0 0 0 9%;
	padding: 0 50px 0 0;
	position: relative;
}
.box-carousel__control {
	button {
		width: 0;
		height: 0;
		padding: 0;
		text-indent: -9999px;
		cursor: pointer;
		position: absolute;
		top: 50%;
		z-index: 2;
		background: none;
		transform: translate(0,-50%);
	}
	.control__next {
		border-top: 20px solid transparent;
		border-left: 20px solid $azul-1;
		border-right: none;
		border-bottom: 20px solid transparent;
		right: 0;

		&.slick-disabled {
			border-left: 20px solid $cinza-4;
			background-color: transparent !important;
		}
	}
	.control__prev {
		border-top: 20px solid transparent;
		border-left: none;
		border-right: 20px solid $azul-1;
		border-bottom: 20px solid transparent;
		left: -50px;

		&.slick-disabled {
			border-right: 20px solid $cinza-4;
			background-color: transparent !important;
		}
	}
}
.carousel-attachments {
	margin: 0 -20px;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	li {
		width: 164px;
		height: 124px;
		padding: 0 20px;

		a {
			width: 100%;
			height: 100%;
			display: block;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}

@media screen and (max-width: 550px) {
	.box-carousel-attachments__wrapper {
		margin: 0;
		padding: 0 50px;
	}
	.box-carousel__control .control__prev { left: 0; }
}

/* LISTA DE LINKS RELACIONADOS */

.box-related-links {
	width: 100%;
	position: relative;
}
.box-related-links__list {
	margin: 0 -10px;
	padding: 0 59px 0 9%;
	display: flex;
	justify-content: space-between;
	list-style-type: none;

	li {
		max-width: 256px;
		padding: 0 10px;

		span {
			font-size: .9rem;
			display: block;
		}
	}

	img {
		width: 100%;
		max-width: 256px;
		max-height: 150px;
		margin-bottom: 14px;
		display: block;
	}
}
.link-more--type-b {
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: 128px;
	right: 0;
	overflow: hidden;
	background-color: $azul-1;

	i {
		font-size: 36px;
		color: $branco;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

@media screen and (max-width: 768px) {
	.link-more--type-b { top: 108px; }
}
@media screen and (max-width: 500px) {
	.box-related-links__list {
		padding: 0;
		flex-direction: column;
		align-items: center;

		li {
			padding: 0;

			& + li { padding-top: 40px; }
		}
	}
	.link-more--type-b {
		margin: 40px auto 0;
		position: relative;
		top: auto;
		right: auto;
	}
}

.theme-items-list .filters-menu { background: none !important; }
.button.is-white,
.button.is-white[disabled] {
	background: none !important;
	background-color: transparent !important;
}

/* BREADCRUMB */

#breadcrumb-wrapper .breadcrumb li + li:before { display: none; }
#breadcrumb-wrapper .breadcrumb a { padding: 0; }

.theme-items-list.repository-level-page.is-fullscreen { position: fixed; }