.bg-grey-1{
	background: color(alabaster);
	@include high-contrast();
}

.bg-grey-2{
	background: #eeeeee;
	@include high-contrast();
}

.bg-grey-3{
	background: color(seashell);
	@include high-contrast();
}

.multimedia-content {

	.multimedia-type-audio,
	.multimedia-type-video{
		.entry-content {
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px; height: 0; overflow: hidden;
		}

		.entry-content iframe,
		.entry-content object,
		.entry-content embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

}
