// Variables names by website 'Name That Color' (http://chir.ag/projects/name-that-color/)

$colors: (
  primary:    #2969BD,
  secondary:  #0094FF,
  text:       #363636,
  danger:     #D9534F,
  dark:       #222222,
  white:      #FFFFFF,
  black:      #000000,
  silver:     #A6A6A6,
  gray:       #E5E5E5,
  doveGray:   #666666,
  bunting:    #19224D,
  alabaster:  #F8F8F8,
  seashell:   #F1F1F1,
  alto:       #DBDBDB,
  seaGreen:   #2F884D,
  dodgerBlue: #06ACFF,
  lightGreen: #1FC86A,
  brightRed:  #A00A00,
  ghost:      #CED4DA
);