// Font Icons
// --------------------------------------------------
// Variaveis com o codigo de cada icone

$icons: (
  acoes-programadas: "\e900",
  angle_down: "\e901",
  angle_left: "\e902",
  angle_right: "\e903",
  angle_up: "\e904",
  apoio: "\e905",
  arrow_down: "\e906",
  arrow_left: "\e907",
  arrow_right: "\e908",
  arrow_top: "\e909",
  assessoria: "\e90a",
  calendar: "\e90b",
  centros-culturais: "\e90c",
  checkmark: "\e92a",
  clock: "\e90d",
  consultas-publicas: "\e90e",
  contrast: "\e90f",
  dados-br: "\e910",
  double-checkmark: "\e92b",
  economia-criativa: "\e911",
  editais: "\e912",
  escritorios-regionais: "\e913",
  eye: "\e92c",
  fale-conosco: "\e914",
  home: "\e915",
  internacional: "\e916",
  legislacao: "\e917",
  lei-rouanet: "\e918",
  less: "\e919",
  libras: "\e91a",
  location: "\e91b",
  ministerio: "\e91c",
  ministro: "\e91d",
  multimidia: "\e91e",
  noticias: "\e91f",
  ouvidoria: "\e920",
  patrimonio: "\e921",
  play_btn: "\e922",
  plus: "\e923",
  pontos-cultura: "\e924",
  publicacoes: "\e925",
  search: "\e926",
  search_b: "\e92d",
  secretarias: "\e927",
  settings: "\e92e",
  smartphone: "\e92f",
  snc: "\e928",
  vinculadas: "\e929"
);
