#agenda {
	@include transition(all ease-in-out .2s);
	background-color: color(bunting);
	background-image: url('../../img/arrow-pattern.svg');

	@include media("≥phone", "≤desktop") {
		padding: 0 !important;
		background-size: 30px auto;
	}

	.agenda-cats {
		margin-bottom: 15px;

		@include media("≥phone", "≤desktop") {
			@include transform(translateX(-15px));

			width: calc(100% + 30px);
			background: color(bunting);
			margin: 0;
			border-bottom: 1px solid rgba(color(white), .2);
		}

		.col {
			@include media("≥phone", "≤desktop") {
				display: block;
				padding: 10px 0;
				border-left: 1px solid rgba(color(white), .2);

				&:first-child {
					border-left: none;
				}

				.section-title {
					margin: 0 !important;
				}
			}
		}

		a {
			@include transition(all ease-in-out .2s);
			color: color(white);
			padding: 15px;
			text-transform: uppercase;
			font-size: 0.7em;
			opacity: .5;
			background: transparent;

			@include media("≥phone", "≤desktop") {
				width: 100%;
				font-size: 1rem;
				padding: 10px 0;
				display: block;
			}

			&:hover {
				opacity: 1;
				text-decoration: none;
			}

			&.active {
				opacity: 1;
				background-color: color(seaGreen);

				@include media("≥phone", "≤desktop") {
					background: none;
				}
			}
		}
	}

	.daypicker-wrapper {
		margin-bottom: 30px;
		position: relative;

		@include media("≥phone", "≤desktop") {
			margin: 0;
			height: 185px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: calc(100% + 30px);
			margin-left: -15px;
		}

		.daypicker-control-prev,
		.daypicker-control-next {
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -13px;
		}

		.daypicker-control-next {
			left: inherit !important;
			right: 0 !important;
		}

		.daypicker {
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: center;

			li {
				display: inline-block;
				width: 95px;
				height: 95px;
				cursor: pointer;
				color: color(alto);
				align-items: center;
				justify-content: center;

				@include media("≥phone", "≤desktop") {
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(6),
					&:nth-child(7) {
						display: none;
					}
				}

				a {
					font-size: 50px;
					font-weight: 800;
					font-style: normal;
					font-stretch: normal;
					line-height: 95px;
					width: 95px;
					height: 95px;
					letter-spacing: normal;
					display: block;
					color: hsla(0,0%,100%,.6);

					span {
						display: block;
						line-height: 50px;
						margin-top: 10px;
					}

					small {
						display: block;
						font-size: 20px;
						font-weight: 800;
						font-style: normal;
						font-stretch: normal;
						line-height: 20px;
						letter-spacing: normal;
						text-transform: uppercase;
					}

					&:hover {
						text-decoration: none;
					}
				}

				&.selected {
					background-color: color(seaGreen);

					a {
						color: color(white);
					}
				}
			}
		}
	}

	.monthpicker-wrapper {
		position: relative;
		margin-bottom: 60px;

		@include media("≥phone", "≤desktop") {
			margin-bottom: 30px;
		}

		a {
			font-size: 12px;
			font-family: "Lucida Grande", Arial, FreeSans;
			color: color(white);
			font-weight: 500;
			padding-right: 32px;

			span {
				position: relative;
				display: inline-block;
				font-size: 16px;

				&:after {
					@include transform(translateY(-50%));
					@include border-radius(50%);

					font-size: 16px;
					content: map-get($icons, angle_down);
					color: color(bunting);
					font-family: 'icomoon';
					width: 20px;
					height: 20px;
					line-height: 23px;
					font-size: 10px;
					text-indent: -1px;
					text-align: center;
					// display: inline-block;
					background: color(white);
					overflow: hidden;
					position: absolute;
					top: 50%;
					right: -65px;
				}
			}

			&:hover {
				text-decoration: none;
			}
		}

		&:before,
		&:after {
			position: absolute;
			content: '';
			height: 1px;
			width: 40%;
			background: rgba(255,255,255,.2);
			left: 0;
			top: 50%;
			margin-top: -1px;

			@include media("≥phone", "≤desktop") {
				width: 30%;
			}
		}

		&:after {
			left: auto;
			right: 0;
		}
	}

	.events {
		display: flex;
		justify-content: center;

		.event-item {
			background: color(gray);
			padding: 20px 20px 90px;
			color: color(dark);
			margin-bottom: 20px;
			height: 100%;
			position: relative;

			@include media("≥phone", "≤desktop") {
				padding: 10px;
				height: auto;
				overflow: hidden;
			}

			&.empty {
				height: auto;
				padding: 20px;
			}

			h2 {
				margin-bottom: 20px;
				font-size: 1.8em;

				@include media("≥phone", "≤desktop") {
					font-size: 1.2em;
				}
			}

				a {
					color: color(dark);
				}

			.info {
				position: absolute;
				bottom: 15px;
				left: 15px;
				height: 90px;

				@include media("≥phone", "≤desktop") {
					position: relative;
					left: 0;
					bottom: 0;
					display: block;
					height: auto;
				}

				span {
					display: block;
					height: 15px;
					line-height: 15px;
					margin-bottom: 15px;

					@include media("≥phone", "≤desktop") {
						font-size: 1em;
					}

					&.icon {
						&:before {
							margin-right: 10px;
							font-size: 15px;
						}
					}
				}
			}
		}

		.col-md-4 {
			display: none;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				display: block;
			}
		}
	}

	.agenda-footer {
		.btn {
			border-color: color(white);
			color: color(white);

			@include media("≥phone", "≤desktop") {
				margin: 0 0 25px !important;
				background: color(bunting);
			}
		}
	}

	&.loading .events{
		opacity: 0.5;
	}

	.agenda-archive & {
		background: none !important;

		.daypicker-wrapper .daypicker li a{
			color: color(alto);
		}

		.events {
			display: block;

			> .col-md-4 {
				width: 100%;
				display: block;
				flex: none;
				max-width: none;
				padding: 0;

				.event-item {
					height: auto;
					padding: 20px;
					overflow: hidden;
					min-height: 142px;

					h2 {
						width: 80%;
						float: right;
						padding-left: 70px;
					}

					.info {
						height: 100%;
						position: relative;
						text-align: center;
						width: 20%;
						padding-right: 20px;
						bottom: auto;
						left: auto;

						&:after {
							@include transform(translateY(-50%));
							position: absolute;
							content: '';
							width: 1px;
							height: 80px;
							background: rgba(0,0,0,.2);
							top: 50%;
							right: -1px;
						}

						.time {
							width: 100%;
							text-align: center;
							height: 102px;
							line-height: 102px;
							font-size: 1.8rem;
							margin: 0;

							&:before {
								font-size: 18px;
							}
						}

						.location {
							display: none;
						}
					}

					.location.d-none {
						display: block !important;
						position: absolute;
						right: 0;
						width: calc(80% - 11px);
						padding-left: 70px;
						bottom: 20px;
						font-size: 1rem;

						&:before {
							font-size: 15px;
							margin-right: 10px;
						}
					}
				}
			}

			.event {
				align-items: center;
				background: color(gray);
				padding: 20px;
				margin-bottom: 20px;

				.time {
					position: relative;
					text-align: center;
					width: 20%;
					padding-right: 20px;

					&:after {
						@include transform(translateY(-50%));
						position: absolute;
						content: '';
						width: 1px;
						height: 80px;
						background: rgba(0,0,0,.2);
						top: 50%;
						right: -1px;
					}

					span {
						font-size: 1.8em;

						&:before {
							font-size: 18px;
							margin-right: 10px;
						}
					}
				}

				.info {
					width: 80%;
					padding-left: 70px;

					h2 {
						font-size: 1.8em;
					}
				}
			}
		}
	}

}

.ui-datepicker {
	.ui-icon {
		display: block;
		font-size: 0;

		&:before {
			font-family: 'icomoon';
			font-size: 20px;
		}

		&.ui-icon-circle-triangle-w {
			&:before {
				content: map-get($icons, 'angle_left');
			}
		}

		&.ui-icon-circle-triangle-e {
			&:before {
				content: map-get($icons, 'angle_right');
			}
		}
	}
}

#events-archive {
	.row {
		margin: 0;
	}

	.event {
		align-items: center;
		background: color(gray);
		padding: 30px 20px;
		margin-bottom: 20px;

		.time {
			position: relative;
			text-align: center;
			width: 20%;
			padding-right: 20px;

			&:after {
				@include transform(translateY(-50%));
				position: absolute;
				content: '';
				width: 1px;
				height: 60px;
				background: rgba(0,0,0,.2);
				top: 50%;
				right: -1px;
			}

			span {
				font-size: 1.8em;

				&:before {
					font-size: 18px;
					margin-right: 10px;
				}
			}
		}

		.info {
			width: 80%;
			padding-left: 70px;

			h2 {
				margin-bottom: 10px;
				font-size: 1.8em;
			}

			a {
				color: color(dark);
			}

			.additional {
				span {
					position: relative;
					display: inline-block;
					padding-left: 20px;
					margin-left: 20px;

					&:first-child {
						padding: 0;
						margin: 0 15px 0 0;

						&:after {
							display: none;
						}
					}

					&:after {
						@include transform(translateY(-50%));
						position: absolute;
						content: '';
						width: 1px;
						height: 100%;
						background: rgba(0,0,0,.2);
						top: 50%;
						left: -1px;
					}

					&:before {
						font-size: 15px;
						margin-right: 10px;
					}
				}
			}
		}
	}

	.high-contrast & {
		background-color: color(black) !important;
	}
}
