#breadcrumb-wrapper {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgba(0,0,0,.1);

	@include media("≥phone", "≤desktop") {
		height: auto;
		border: none;
	}

	#breadcrumb {
		font-size: 1rem;
		background: none;
		margin: 0;

		@include media("≥phone", "≤desktop") {
			height: 40px;

			display: flex;
			flex-basis: initial;
			align-items: center;
			padding: 0 15px;
			flex-wrap: initial;

			&:before {
				content: "";
				width: calc(100% + 30px);
				margin-left: -15px;
				position: absolute;
				height: 1px;
				background: color(gray);
				left: 0;
				bottom: 0;
			}
		}

		li {
			@include media("≥phone", "≤desktop") {
				font-size: 0.85rem;
				white-space: nowrap;

				&:last-child {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			a {
				color: color(dark);
			}

			&.item-home {
				a {
					display: inline-block;
					position: relative;
					text-decoration: none;

					span {
						font-size: 0;
						text-indent: -999px;
					}

					&:before {
						font-size: 16px;

						@include media("≥phone", "≤desktop") {
							font-size: 12px;
						}
					}

				}
			}

			&.separator {
				margin: 0 15px;
				color: color(gray);
				font-size: 0.8rem;

				@include media("≥phone", "≤desktop") {
					margin: 0 8px;
				}
			}
		}

		.high-contrast & {
			a {
				color: color(white) !important;
			}
		}
	}
}
