.texto-copyright {
  width: 100%;
  border-color: color(silver);
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  float: left;
  clear: both;

  @include media("≥phone", "≤desktop") {
    border-bottom: none;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    display: block !important;
  }

  span {
    font-size: 1em;

    @include media("≥phone", "≤desktop") {
      display: block;
      margin-bottom: 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 1rem;
    }

    a {
      color: color(dark);
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .voltar-topo {
    width: 210px;
    text-align: right;

    @include media("≥phone", "≤desktop") {
      width: 100%;
      margin-bottom: 15px;
      display: inline-block;
      text-align: center;
    }

    a {
      color: color(dark);
      font-size: 0.8em;
      text-transform: uppercase;
      font-weight: 700;
      display: block;
      padding-right: 50px;
      position: relative;

      @include media("≥phone", "≤desktop") {
        display: inline-block;
        margin-bottom: 15px;
      }

      &:after {
        @include border-radius(50%);
        @include transform(translateY(-50%));

        content: map-get($icons, angle_up);
        background: color(dark);
        font-size: 1em;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: color(white);
        text-align: center;
        font-weight: 700;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        font-family: 'icomoon';
      }
    }
  }
}
