#featured-links {
	margin-top: 25px;

	@include media("≥phone", "≤desktop") {
		margin: 0;
	}

	ul {
		padding-left: 15px;

		li {
			margin-right: 20px;
			font-size: .875rem;
			font-weight: 500;
			line-height: 1.5rem;

			a {
				color: color(white);
				padding: 0;
			}
		}
	}

	#menu-toggle {
		@include transition(all .5s ease-in-out);
		@include transform(rotate(0deg));

		width: 23px;
		height: 18px;
		position: relative;
		cursor: pointer;
		font-size: 0;
		background: none;
		border: none;
		outline: none;
		padding: 0;
		float: left;
		cursor: pointer;
		filter: none;
		display: block;
		margin: 3px 0 0 3px;

		@include media("≥phone", "≤desktop") {
			margin-top: 16px;
		}

		body.menu-active & {
			@include media("≥desktop") {
				// margin-top: 2px;
			}
		}

		span {
			@include transition(all .25s ease-in-out);
			@include transform(rotate(0deg));

			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background: color(white);
			border-radius: 0;
			opacity: 1;
			left: 0;
			-webkit-transform-origin: left center;
			-moz-transform-origin: left center;
			-o-transform-origin: left center;
			transform-origin: left center;

			&:nth-child(1) {
				top: 0px;

				body.menu-active & {
					@include media("≥desktop") {
						@include transform(rotate(43.5deg));

						top: 0px;
						left: 3px;
					}
				}
			}

			&:nth-child(2) {
				top: 7px;

				body.menu-active & {
					@include media("≥desktop") {
						width: 0%;
						opacity: 0;
					}
				}
			}

			&:nth-child(3) {
				top: 14px;

				body.menu-active & {
					@include media("≥desktop") {
						@include transform(rotate(-43.5deg));

						top: 16.2px;
						left: 3px;
					}
				}
			}
		}
	}

}