.carousel-wrapper {
	margin: 0;
	background: color(black);

	@include media("≥desktop") {
		min-height: 680px;
	}

	@include media("≥phone", "≤desktop") {
		min-height: 40vh;
	}

	#jumbotron-carousel {
		margin-bottom: 0;

		.carousel-control-next,
		.carousel-control-prev {
			z-index: 2;
		}

		.carousel-indicators {
			bottom: 10px;

			li {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: rgba(255, 255, 255, .6);

				&.active {
					background-color: rgba(255, 255, 255, 1);
				}
			}
		}

		.carousel-item {
			max-height: 680px;

			@include media("≥phone", "≤desktop") {
				max-height: 400px;
			}

			img {
				display: block;
				height: 680px;
				object-fit: cover;

				@include media("≥phone", "≤desktop") {
					height: 50vh;
				}
			}

			.carousel-caption {
				z-index: 2;
				text-align: left;
				max-width: 1140px;
				margin: auto;
				padding-left: 15px;
				padding-right: 15px;
				left: 0;
				right: 0;

				@include media("≥phone", "≤desktop") {
					padding: 0 0 60px;
					bottom: 0;

					&:before {
						content: "";
						width: 100%;
						height: calc(100% + 200px);
						position: absolute;
						left: 0;
						bottom: 0;
						z-index: -1;
						background-image: linear-gradient(to bottom,rgba(0,0,0,0),#000);
					}

					.container {
						padding: 0;
					}

					h2 {
						font-size: 18px;
						margin: 0;
						display: block;
						width: calc(100% - 120px);
						margin: 0 auto;
						text-align: center;
					}

					p {
						display: none;
					}
				}

				a {
					display: block;
					color: color(white);

					&:hover {
						color: color(secondary);
						text-decoration: none;
					}
				}
			}

			&:before {
				content: " ";
				background-color: transparent;
				background-image: -o-radial-gradient(transparent,#000);
				background-image: radial-gradient(transparent,#000);
				white-space: nowrap;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				opacity: .8;
				z-index: 1;
				text-indent: -3000px;

				@include media("≥phone", "≤desktop") {
					display: none;
				}
			}
		}

		.high-contrast & {
			.carousel-item .carousel-caption {
				background: color(black);
			}
		}
	}

}