#main-search {
	position: relative;
	margin-top: 15px;

	input[type="search"] {
		width: 100%;
		margin: 0;
		padding: 0 50px 0 20px;
		border: 0;
		background: color(white);
		border-radius: 30px;
		line-height: 30px;
		font-family: "Lucida Grande", Arial, FreeSans;
		font-size: 0.85em;

		@include media("≥phone", "≤desktop") {
			height: 40px;
			outline: none;
			background: color(white);
			border: none;
			width: 100%;
			padding: 0 40px 0 20px;
			border-radius: 0px;
			font-size: 14px;
			color: color(dark);
		}
	}

	.input-group-append {
		position: absolute;
		right: 0;
		top: 0;

		button {
			margin: 0;
			border: none;
			height: 38px;
			width: 45px;
			position: relative;
			background: none;
			padding: 0;
			outline: none;

			&:before {
				@include transform(translateX(-50%) translateY(-50%));

				content: map-get($icons, 'search');
				font-size: 20px;
				color: color(dark);
				font-family: 'icomoon';
				text-align: center;
				position: absolute;
				left: 50%;
				top: 50%;
				width: 25px;
				height: 25px;
				line-height: 25px;

				@include media("≥phone", "≤desktop") {
					color: color(secondary);
				}
			}

			@include media("≥phone", "≤desktop") {
				outline: none;
				height: 40px;
			}
		}
	}

	.input-group > .form-control:focus {
		z-index: auto;
	}
}