#menu-wrapper {

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.4);
	background-color: rgb(255, 255, 255);
	color: rgb(51, 51, 51);
	border-bottom: 1px solid rgb(241, 241, 241);
	padding: 45px 0;
	top: 100%;
	height: max-content;
	z-index: 100;
	visibility: hidden;
	opacity: 0;

	@include media("≥desktop") {
		@include transition(visibility 0s linear .25s, opacity .25s);

		visibility: hidden;
		opacity: 0;
	}

	@include media("≥phone", "≤desktop") {
		@include transition(all ease-in-out .2s);
		@include transform(translateX(-105%));

		position: fixed;
		left: 0;
		top: 0;
		background: white;
		width: 80%;
		z-index: 9999;
		padding: 0;
		z-index: 102;
		padding: 0;
		display: block;
		min-height: 100vh;
		visibility: visible;
		opacity: 1;

		.icon-close {
			display: block;
			width: 60px;
			height: 60px;
			padding: 0;
			margin: 0;
			border: none;
			background: none;
			position: absolute;
			outline: none;
			left: 0;
			top: 0;

			&:before {
				@include transform(translateX(-50%) translateY(-50%) rotate(45deg));

				content: map-get($icons, 'plus');
				font-family: 'icomoon';
				font-size: 25px;
				position: absolute;
				left: 50%;
				top: 50%;
				color: color(white);
			}
		}

		#menu-toggle {
			@include transform(translateY(-50%) translateX(-50%));

			position: absolute;
			left: 50%;
			top: 50%;
		}

		.menu-content {
			height: 100%;

			.row {
				.widget_nav_menu {
					@include transition(max-height ease .2s);
					padding: 0;
					border-top: 1px solid rgba(0, 0, 0, .2);
					max-height: 50px;
					overflow: hidden;
					padding: 0 20px;

					&:first-child {
						border-top: none;
					}

					&.active {
						&:after {
							@include transform(rotate(-180deg));
						}
					}

					&:after {
						@include transition(all ease-in-out .25s);

						content: map-get($icons, 'angle_down');
						font-size: 18px;
						color: color(dark);
						width: 50px;
						height: 50px;
						font-family: 'icomoon';
						line-height: 50px;
						display: block;
						text-align: center;
						position: absolute;
						top: 0px;
						right: 0px;
					}

					&.active {
						max-height: 900px;
						padding-bottom: 20px;
					}

					.menu-title {
						margin: 0;
						height: 50px;
						line-height: 50px;
						text-transform: uppercase;
					}

					li {
						height: auto;
						margin: 0;
						padding: 0;
						line-height: normal;
						margin-top: 20px;

						&:first-child {
							margin-top: 0;
						}
					}

				}
			}


			@include media("≥phone", "≤desktop") {
				.menu-header {
					height: 228px;
					padding: 60px 20px 20px;
					background: color(secondary);
					-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
					-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
					box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);

					h2 {
						width: 200px;
						display: block;
						color: color(white);
						margin-bottom: 15px;
					}

					.search-wrapper {
						@include border-radius(30px);

						outline: none;
						position: relative;
						overflow: hidden;

						form {
							margin: 0;
							outline: none;

							.input-group {
								@include border-radius(2px);
								outline: none;
							}
						}
					}
				}

				.menu-body {
					height: calc(100% - 277px);
					padding: 10px 0 0;
					overflow: scroll;
					-webkit-overflow-scrolling: touch;
				}

				.menu-footer {
					@include transform(translateY(56px));
					overflow: hidden;
					position: sticky;
					bottom: 0;
					padding-bottom: 56px;
					background: color(secondary);

					.social-medias {
						margin: 0;
						padding: 0;
						border: none;
						display: flex;
						height: 50px;
						align-items: center;
						justify-content: center;
						background: color(secondary);

						li {
							margin-left: 15px;
							-webkit-filter: grayscale(100%) brightness(5);
							filter: grayscale(100%) brightness(5);

							background-size: 70% auto !important;

							&:first-child {
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}

	body.menu-active & {

		@include media("≥desktop") {
			@include transition(visibility 0s linear 0s, opacity .25s);

			height: max-content;
			overflow: visible;
			transition: none;
			visibility: visible;
			opacity: 1;
		}

		@include media("≥phone", "≤desktop") {
			@include transition(transform ease-in-out .25s);
			@include transform(translateX(0));

			left: 0;
		}
	}

	.menu-content {
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: -16px;
			margin-left: 6px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 16px 8px;
			border-color: transparent transparent color(white) transparent;
		}

		.menu-col {
			border-right: 1px solid color(seashell);

			.menu-title {
				font-weight: 900;
				font-size: 1rem;
				margin-bottom: 1.25rem;

				@include media("≥phone", "≤desktop") {
					font-size: 16px;
				}
			}

			ul {
				margin: 0 15px 0 0;
				padding: 0;
				list-style-type: none;

				&.social-medias {
					margin: 0;
					padding: 0;
					width: calc(100% + 30px);
					margin-left: -15px;
					border: none;

					li {
						width: 50px;
						height: 50px;
						background-size: 55% auto;
						margin-left: 15px !important;
						-webkit-filter: grayscale(100%) brightness(0);
						filter: grayscale(100%) brightness(0);
						margin-bottom: 0;

						@include media("≥phone", "≤desktop") {
							background-size: auto !important;
						}

						&.soundcloud {
							background-size: 65% auto;
						}
					}
				}

				li {
					font-weight: 400;
					margin-right: 0;
					font-size: .875rem;
					margin-bottom: 1.25rem;

					@include media("≥phone", "≤desktop") {
						margin: 0 !important;
					}

					a {
						font-weight: 500;
						color: color(dark) !important;

						@include media("≥phone", "≤desktop") {
							font-size: 14px;
							padding: 12px 0;
							display: inline-block;
						}
					}
				}
			}
		}

		> .row > div:last-of-type .menu-col{
			border: none;
		}
	}
}
