#multimidia {
	overflow: hidden;
	background-color: color(dark);
	background-image: url('../../img/arrow-pattern.svg');
	padding: 60px 0;
	color: color(white);

	@include media("≥phone", "≤desktop") {
		border-top: 1px solid color(dark);
		padding: 0;
		background-size: 30px auto;
		font-size: 0;

		.container {
			padding: 0;

			.row {
				padding: 0;
				margin: 0;

				.col {
					padding: 0;
					margin: 0;
					display: block;
				}
			}

			.widget_idg_banner {
				padding: 15px;

				.row {
					display: grid;
					grid-template-columns: auto auto;
					grid-gap: 15px;

					.col {
						&:nth-child(3) {
							grid-column-start: 1;
							grid-column-end: 3;
						}
					}
				}
			}
		}
	}

	.highlight {
		width: calc(100% - 30px);
		margin: 0 auto;
		height: 500px;
		padding: 0 20px;
		margin-bottom: 30px;
		background-size: cover !important;
		display: table;
		position: relative;
		background: color(gray);

		@include media("≥phone", "≤desktop") {
			width: 100%;
			padding: 0;
			display: block;
			height: 350px;
			margin-bottom: 0;
		}

		&.video {
			display: flex;


			#play-multimedia-video {
				display: block;
				cursor: pointer;

				i {
					@include transform(translateY(-60%) translateX(-50%));
					width: 120px;
					height: 120px;
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 2;

					&:before {
						font-size: 120px;
						display: block;
					}
				}
			}

			> a {
				padding: 0 0 20px;
				align-self: flex-end;
				position: relative;
				z-index: 1;
				cursor: pointer;

				@include media("≥phone", "≤desktop") {
					padding: 0;
				}
			}
		}

		> a {
			display: table-cell;
			vertical-align: middle;
			padding-right: 65%;
			color: color(white);
			position: relative;

			&:hover {
				text-decoration: none;
			}

			@include media("≥phone", "≤desktop") {
				display: table;
				padding: 0;
				height: 100%;

				.align {
					display: table-cell;
					vertical-align: bottom;

					.text {
						padding: 15px;
						position: relative;
						z-index: 0;

						&:before {
							content: "";
							width: 100%;
							height: calc(100% + 30px);
							background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
							position: absolute;
							bottom: 0;
							left: 0;
							z-index: -1;
						}
					}
				}

				h3 {
					font-size: 1.2rem;
					display: block;
				}

				span {
					display: block;
					font-size: 0.8rem;
					line-height: normal;
				}
			}
		}

		&:before {
			content: "";
			width: 100%;
			height: 100%;
			background-image: radial-gradient(transparent, #000);
			background-color: transparent;
			position: absolute;
			left: 0;
			top: 0;

			@include media("≥phone", "≤desktop") {
				display: none;
			}
		}

		&.highlight-video-player {
			padding: 0;

			&:before {
				display: none;
			}

			iframe {
				width: 100%;
				height: 100%;
			}
		}
	}

	.highlight-box {
		height: 215px;
		background-position: center center;
		background: color(gray);

		@include media("≥phone", "≤desktop") {
			height: 150px;
			background-size: contain !important;
		}
	}

	.multimedia-archive & {
		padding: 30px 0 60px;
		background-color: color(dark);

		h1 {
			color: color(white);
		}

		.highlight-box {
			height: 250px;
		}
	}
}


.multimedia-archive {
	#search-content-wrapper {
		margin-bottom: 50px;
	}

	h2 {
		a {
			color: color(dark);
			text-decoration: underline;
		}
	}

	#social-media {
		padding: 60px 0;
		background-color: color(primary);
		background-image: url('../../img/arrow-pattern.svg');

		.media-row {
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}
		}

		.highlight-box {
			@include transform(translateY(-50%));

			padding-top: 75%;
			height: auto;
			background: #EEEEEE;
			position: relative;

			.align {
				position: absolute;
				width: 100%;
				top: 50%;
			}

			a {
				@include transition(all ease .2s);

				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				text-align: center;
				color: color(dark);
				cursor: pointer;

				.icon {
					margin-bottom: 10px;
					svg {
						width: 60px;
					}
				}

				span {
					font-weight: bold;
					font-size: 1.2rem;
				}
			}
		}
	}
}

#play-multimedia-video {
	display: none;
}
