#page-imprensa {
  #contact {
    background-color: color(gray);
    background-image: url('../../img/arrow-pattern.svg');
    background-size: 25px;

    @include media("≥phone", "≤desktop") {
      background-size: 30px auto;
    }

    .text-wrapper {
      padding: 30px;
      position: relative;

      &:after {
        display: none;
        @include transform(translateY(-50%));

        content: "";
        width: 1px;
        height: 80%;
        background: rgba(0,0,0,.1);
        position: absolute;
        top: 50%;
        right: -.5px;
      }
    }

    .form-wrapper {
      padding: 30px;

      form {
        width: 400px;
        margin: 0 auto;

        p {
          margin: 0;
          font-size: 0;
          margin-top: 15px;

          &:first-child {
            margin-top: 0;
          }
        }

        .wpcf7-submit {
          float: right;
          margin: 20px 0 0;
        }

        div.wpcf7-response-output {
          padding: 15px;
          margin: 65px 0 0;
          clear: both;
          color: color(dark);
          font-size: 0.8rem;

          &.wpcf7-validation-errors {
            background: #f7e700;
          }
        }

        label {
          font-size: 1rem;
          width: 100%;
          margin: 0;

          input,
          textarea {
            @include border-radius(5px);
            width: 100%;
            border: 2px solid color(dark);
            display: block;
            background: color(white);
            outline: none;
            margin-top: 3px;
          }

          input {
            height: 40px;
            padding: 0 15px;
          }

          textarea {
            height: 180px;
            resize: none;
            padding: 15px;
          }

          .wpcf7-form-control-wrap {
            width: 100%;
            display: block;
            position: relative;
          }

          span.wpcf7-not-valid-tip {
            @include border-radius(10px);

            position: absolute;
            color: white;
            background: rgba(#222, .9);
            padding: 10px;
            font-size: 0.8rem;
            bottom: -48px;
            z-index: 10;
            left: 0;

            &:before {
              content: "";
              width: 0; 
              height: 0; 
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 8px solid rgba(#222, .9);
              position: absolute;
              top: -8px;
              left: 15px;
            }
          }
        }
      }
    }
  }
}
