#page-info {
	overflow: hidden;
	background: color(primary);
	color: color(white);

	.idg-menu {
		margin-top: 60px;

		@include media("≥phone", "≤desktop") {
			margin-top: 30px;
		}
	}

	#content {
		@include media("≥phone", "≤desktop") {
			padding-top: 15px !important;
		}
	}

	.content-wrapper {
		text-align: center;

		@include media("≥phone", "≤desktop") {
			text-align: left;
		}

		h1,
		h2,
		h3,
		h4 {
			margin-bottom: 30px;

			@include media("≥phone", "≤desktop") {
				margin-bottom: 15px;
			}
		}

		.card-title {
			margin: 0;
		}

		.title {
			width: 100%;
		}

		a {
			color: color(white);
			text-decoration: underline;
		}
	}

	#breadcrumb-wrapper #breadcrumb li a,
	#breadcrumb-wrapper #breadcrumb li.separator {
		color: color(white);
	}

	.entry-content {
		max-width: none;
	}

	.texto-copyright {
		border-color: color(white);

		span {
			font-size: 0.98em;
			border-color: color(white);
		}

		a {
			color: color(white);
			text-decoration: underline;

			&:after {
				color: color(dark);
				background: color(white);
			}
		}
	}
}
