#posts-list {
  padding: 0;
  margin: 0;

  li {
    padding: 30px 0;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    .categories {
      font-size: .875rem;
      color: color(dodgerBlue);
      font-weight: 700;
      text-transform: uppercase;
      font-family: inherit;
      margin-bottom: 2px;
    }

    h2 {
      font-size: 1.4em;

      a {
        color: color(dark);
      }
    }

    p {
      font-size: 1.15em; 
      color: color(dark);
      margin: 0 0 20px;
    }

    span {
      font-size: 0.85em;
      color: color(silver);
    }
  }
}