#share-box {
	position: absolute;
	top: 0;
	left: -78px;

	a {
		position: relative;
		float: none;
		overflow: hidden;
		margin: 0;
		cursor: pointer;
		border: 1px solid #979797;
		width: 48px;
		height: 48px;
		border-radius: 100%;
		margin-bottom: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		&:before {
			content: '';
			display: block;
			width: 25px;
			height: 28px;
			background-image: url(../../img/sprite.png);
		}

		&:hover {
			&:before {
				-webkit-filter: invert(100%);
				filter: invert(100%);
			}
		}

		&.facebook {
			&:before {
				background-position: -269px 0;
			}
			&:hover {
				background: #3b5998;
			}
		}

		&.twitter {
			&:before {
				background-position: -100px -160px;
			}
			&:hover {
				background: #1da1f2;
			}
		}

		&.g-plus {
			&:before {
				width: 30px;
				background-position: -144px -196px;
			}
			&:hover {
				background: #db4437;
			}
		}

		&.linkedin {
			&:before {
				background-position: -242px -59px;
			}
			&:hover {
				background: #0073b1;
			}
		}
	}
}

body.high-contrast #share-box {
	a {
		border-color: color(black);

		&.facebook {
			background: color(white);

			&:hover { background: #3b5998; }
		}

		&.twitter {
			background: color(white);

			&:hover { background: #1da1f2; }
		}

		&.g-plus {
			background: color(white);

			&:hover { background: #db4437; }
		}

		&.linkedin {
			background: color(white);

			&:hover { background: #0073b1; }
		}
	}
}
