.accordion {
  .card {
    border-bottom: 1px solid #dee2e6;

    p {
      &:empty {
        display: none !important;
      }
    }
    .card-header {
      padding: 0;

      h2,
      h3 {
        padding: 0;
        margin: 0;

        a {
          display: block;
          width: 100%;
          height: 50px;
          line-height: 50px;
          padding: 0 20px;
          color: color(text);
          text-decoration: none;
          position: relative;
          padding-left: 55px;
          font-size: 1.5rem;

          @include media("≥phone", "≤desktop") {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &.collapsed {
            &:before {
              content: map-get($icons, 'plus');
            }
          }

          &:before {
            @include transform(translateY(-50%));

            content: map-get($icons, 'less');
            font-family: 'icomoon';
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 20px;
            position: absolute;
            left: 20px;
            top: 50%;
            color: color(primary);
          }
        }
      }
    }

    .card-body {
      @include media("≥phone", "≤desktop") {
        padding: 0;

        h4 {
          margin: 15px !important;
          font-size: 1.2rem;
        }

        > p {
          padding: 0 15px;

          &:first-child {
            padding-top: 15px;
          }
        }

        > ul {
          margin-top: 15px;
        }
      }
    }
  }
}
