.btn,
.wpcf7-submit{
	@include transition(all ease .2s);
	border-radius: 30px;
	border: 2px solid color(dark);
	padding: 10px 23px;
	margin: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1rem;
	font-weight: 700;
	white-space: nowrap;
	display: inline-block;
	color: color(dark);
	text-decoration: none !important;

	&:hover {
		color: inherit;
		@include opacity(0.5);
	}

	.high-contrast & {
		background-color: color(black);
		color: color(white);
		border-color: color(white);
	}

	@include media("≥phone", "≤desktop") {
		margin: 0 !important;
		height: 50px;
		padding: 12px 20px;
	}
}

.btn-primary {
	margin: 0;
	background-color: color(white);
	border-color: color(dark);

	&:hover {
		opacity: 1;
		border-color: color(secondary);
		background-color: color(secondary);
		color: color(white);
	}
}


.edit-link {
	display: block;
	text-align: right;

	a {
		border: none;
		display: inline-block;
		background: color(text);
		padding: 5px 15px;
		border-radius: 40px;
		color: color(white);
		margin-bottom: 15px;
		font-size: 0.8rem;
	}
}
