.date-box {
  height: 76px;
  line-height: 76px;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
  text-align: center;

  @include media("≥phone", "≤desktop") {
    height: auto;
    line-height: normal;
    border-top: none;
    padding: 0 0 15px;
    text-align: left;
    font-size: 14px;
    margin-bottom: 15px !important;
  }

  br {
    display: none;

    @include media("≥phone", "≤desktop") {
      display: block;
    }
  }

  span {
    color: color(doveGray);
    font-size: 0.9em;
  }
}
