.feature-card {
	@include transition(all ease-in-out .2s);
	height: 300px;
	background-color: color(seashell);
	position: relative;
	cursor: pointer;
	border: 4px solid transparent;

	a {
		color: color(dark);
		display: block;
		height: 100%;
		width: 100%;
		padding: 30px 15px 30px;

		&[target="_blank"] {
			background: url('../../img/external-link.svg') no-repeat;
			background-position: right 10px top 10px;

			&.btn {
				background-position: right 10px center;
				background-size: 20px;
			}
		}
	}

	.align {
		@include transform(translateY(-50%) translateX(-50%));
		width: calc(100% - 40px);
		position: absolute;
		top: 50%;
		left: 50%;
	}

	&:hover {
		@include media("≥desktop") {
			background-color: color(alabaster);
			border-color: color(dodgerBlue);
			color: color(dodgerBlue);

			.card-title,
			.card-desc,
			.card-title a,
			.icon:before {
				color: color(dodgerBlue);
			}

			.btn {
				border-color: color(dodgerBlue);
				color: color(dodgerBlue);
			}
		}
	}

	.btn {
		background: transparent;
	}

	&.static-height {
	}

	.icon {
		margin-bottom: 20px;

		&:before {
			@include transition(color ease-in-out .2s);
			font-size: 80px;
		}

		img {
			max-width: 80px;
			width: 100%;
			height: 100%;
		}
	}

	.card-title {
		@include transition(all ease-in-out .2s);

		font-size: 1.1rem;
		font-weight: 700;
		margin: 0 0 5px;
		position: relative;

		a {
			@include transition(all ease-in-out .2s);
			color: color(dark);
			text-decoration: none;
		}
	}

	.card-desc {
		@include transition(all ease-in-out .2s);

		font-style: italic;
		font-size: 0.85rem;
	}

	.card-btn {
		font-size: 0.9rem;
		padding: 5px 23px;
	}

	.high-contrast & {
		background-color: color(black);

		a {
			color: color(white);
		}
	}

	&.card-2 {
		border: 4px solid color(white);
		background-color: color(lightGreen);
		color: color(white);

		.card-title,
		.card-desc,
		.card-title a,
		.icon:before {
			color: color(white);
		}

		&:hover {
			@include media("≥desktop") {
				border-color: color(dark);
				color: color(dark);

				.card-title,
				.card-desc,
				.card-title a,
				.icon:before {
					color: color(dark);
				}
			}
		}
	}
}
