.social-medias {
	padding: 0 0 30px 0;
	margin: 0 0 30px 0;
	list-style-type: none;
	border-bottom: 1px solid #ccc;

	@include media("≥phone", "≤desktop") {
		text-align: center;
	}

	li {
		width: 35px;
		height: 35px;
		display: inline-block;
		margin-left: 40px;
		background-position: center center;
		background-repeat: no-repeat;

		&:first-child {
			margin-left: 0;
		}

		@include media("≥phone", "≤desktop") {
			margin-left: 20px;
		}

		a {
			text-indent: -3000px;
			width: 100%;
			height: 100%;
			display: block;
		}

		&.twitter {
			background-image: url('../../img/twitter.svg');
			background-size: 28px;
		}

		&.youtube {
			background-image: url('../../img/youtube.svg');
			background-size: 30px;
		}

		&.facebook {
			background-image: url('../../img/facebook.svg');
			background-size: 28px;
		}

		&.flickr {
			background-image: url('../../img/flickr.svg');
			background-size: 25px;
		}

		&.instagram {
			background-image: url('../../img/instagram.svg');
			background-size: 27px;
		}

		&.soundcloud {
			background-image: url('../../img/soundcloud.svg');
		}
	}
}