.tags-list {
  margin-bottom: 15px;
  margin: -10px 0 15px;

  > span {
    display: inline-block;
    margin-right: 10px;
    font-size: 1em !important;
    color: color(dark) !important;
  }

  a {
    @include border-radius(30px);

    display: inline-block;
    background: color(gray);
    padding: 8px 15px;
    color: color(dark);
    text-transform: uppercase;
    margin: 10px 10px 0 0;
    font-size: .75rem;
    font-weight: 600;
  }
}
