html {
	box-sizing: border-box;
}

body {
	max-width: 100%;
	min-height: 100vh;

	@include media("≥desktop") {
		position: static !important;
	}

	@include media("≥phone", "≤desktop") {
		padding-top: 50px;

		&.menu-active {
			overflow: hidden;
			-webkit-overflow-scrolling: touch;
		}
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
	// touch-action: manipulation !important;
}

body {
	background: color(alabaster);
	font-family: $font__main;
	position: relative;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;

	&.high-contrast {
		background: color(black);
		color: color(white);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
}

img {
	max-width: 100%;
}

.entry-header,
.entry-content {
	max-width: 960px;
	margin: 0 auto;
}

.entry-header {
	@include media("≥phone", "≤desktop") {
		display: -moz-box;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		-moz-box-orient: vertical;
		-webkit-box-orient: vertical;
		-webkit-flex-flow: column;
		-ms-flex-direction: column;
		flex-flow: column;

		.date-box {
			order: 1;
		}

		.entry-title {
			order: 2;
		}

		.subtitle-single {
			order: 3;

			margin: 0 !important;

			p {
				margin-bottom: 5px;
			}
		}
	}
}

.type-post {
	.entry-content {
		*:empty,
		*:blank,
		*:-moz-only-whitespace {
			&:not(br):not(img):not(hr):not(link) {
				display: none;
			}
		}

		> p {
			// &:first-child:first-letter {
			// 	color: color(primary);
			// 	font-size: 5rem;
			// 	display: block;
			// 	font-weight: 700;
			// 	float: left;
			// 	line-height: 4rem;
			// 	margin-right: 20px
			// }
		}

		p {
			font-size: 1.1em;
			line-height: 1.7em;
		}

		iframe,
		img,
		figure {
			max-width: 100%;
		}
	}
}

#section-content {
	padding: 73px 0 30px !important;
	background-color: color(lightGreen);
	background-image: url('../../img/arrow-pattern.svg');

	.section-title {
		color: color(white);
	}

	@include media("≥phone", "≤desktop") {
		background-size: 30px auto;
	}
}

figure {
	&.wp-caption {
		background: none;
		border: none;
		padding: 0;

		img {
			margin-bottom: 1rem;
			max-width: 100%;
		}

		.wp-caption-text {
			color: color(doveGray);
			font-weight: normal;
			font-size: .85rem;
		}
	}
}

.home {
	#news {
		@include media("≥phone", "≤desktop") {
			padding: 15px 0 !important;

			.section-title {
				margin-bottom: 20px !important;
			}
		}
	}

	#services {
		@include media("≥phone", "≤desktop") {
			padding: 15px 0 !important;
			margin: 0 !important;
			background: color(dodgerBlue);

			.overflow-wrapper {
				margin: 0;
				padding: 0;
			}
		}
	}

	#agenda {
		@include media("≥phone", "≤desktop") {
			margin: 0 !important;
		}
	}

	#secretarias {
		@include media("≥phone", "≤desktop") {
			padding: 15px 0 !important;
			margin: 0 !important;

			.overflow-wrapper {
				margin: 0;
				padding: 0;
			}

			.section-title {
				margin-bottom: 20px !important;
			}
		}
	}

	#section-content {
		@include media("≥phone", "≤desktop") {
			padding: 15px 0 !important;
			margin: 0 !important;

			.overflow-wrapper {
				margin: 0;
				padding: 0;
			}
		}
	}

	#participacao-social {
		@include media("≥phone", "≤desktop") {
			padding: 15px 0 !important;
			margin: 0 !important;

			.overflow-wrapper {
				margin: 0;
				padding: 0;
			}

			.section-title {
				margin-bottom: 20px !important;
			}
		}
	}

	#multimidia {
		@include media("≥phone", "≤desktop") {
			margin-top: 0 !important;
		}
	}
}

.overflow-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	@include media("≥phone", "≤desktop") {
		display: block;
		white-space: nowrap;
		overflow-x: auto;
		padding-bottom: 12px;
		margin-bottom: 10px;
		font-size: 0;

		> div {
			width: 80%;
			margin: 0 0 0 15px !important;
			padding: 0;
			display: inline-block;

			&:last-child {
				margin-right: 15px !important;
			}

			> * {
				white-space: normal;
			}
		}
	}
}

body.page {
	#main-single {
		background: color(white);
	}
}

#main-single {
	@include media("≥phone", "≤desktop") {
		overflow: hidden;
	}
}

.entry-content {
	a {
		text-decoration: underline;
		cursor: pointer;
	}

	h2 {
		display: block;
		margin-bottom: 30px;
	}

	hr.wp-block-separator {
		width: 100%;
		display: block;
		float: left;
		clear: both;
		margin: 30px 0;
		@include transform(translateY(-1rem));
	}

	.wp-caption {
		&.alignleft {
			margin: 0 30px 10px 0;
		}

		&.alignright {
			margin: 0 0 10px 30px;
		}
	}

	img {
		&.alignleft {
			margin: 0 30px 30px 0;
		}

		&.alignright {
			margin: 0 0 30px 30px;
		}
	}

	div {
		&.alignleft {
			margin: 0 30px 30px 0;
		}

		&.alignright {
			margin: 0 0 30px 30px;
		}
	}

	iframe,
	img,
	figure {
		max-width: 100%;
	}
}

.table-responsive {
	@include media("≥phone", "≤desktop") {
		width: 100% !important;
	}

	table {
		border-left: 1px solid #dee2e6;
		border-right: 1px solid #dee2e6;
		border-bottom: 1px solid #dee2e6;
	}

	thead {
		th {
			width: 25%;
			background: color(primary);
			color: color(white);
			border-bottom: 1px solid #dee2e6;
			font-weight: normal;

			@include media("≥phone", "≤desktop") {
				white-space: nowrap;
			}
		}
	}

	tbody {
		th {
			font-weight: normal;

			&[colspan] {
				background: color(gray);
				font-size: 1rem;
			}
		}

		td,
		th {
			font-size: .85rem;

			a {
				font-weight: normal;
				text-decoration: none;
			}
		}

		td {
			// width: 25%;

			@include media("≥phone", "≤desktop") {
				width: 50%;
			}
		}
	}
}

.multimedia-archive {
	.widget_idg_banner {
		display: none !important;
	}
}

.ui-datepicker {
	@include media("≥phone", "≤desktop") {
		width: 100%;
		position: fixed !important;
		top: 46px !important;
		left: 0 !important;
		height: calc(100% - 46px) !important;
		border: none;
	}

	.ui-datepicker-month {
		text-transform: capitalize;
	}

	.ui-datepicker-header {
		@include media("≥phone", "≤desktop") {
			height: 50px;
			line-height: 50px;

			.ui-datepicker-prev,
			.ui-datepicker-next {
				margin-top: 14px;
			}
		}
	}

	.ui-datepicker-calendar {
		table-layout: fixed;

		td {
			position: relative;

			&:before {
				@include transform(translateX(-50%) translateY(-50%));
				@include border-radius(50%);

				content: "";
				width: 40px;
				height: 40px;
				position: absolute;
				left: 50%;
				top: 50%;
				background: transparent;
				z-index: -1;

				@include media("≥phone", "≤desktop") {
					width: 50px;
					height: 50px;
				}
			}

			&:hover {
				background: none;

				.ui-state-default {
					color: inherit;
				}
			}


			&.ui-datepicker-current-day {
				background: none;
				z-index: 1;

				&:before {
					background: color(seaGreen);
				}

				a,
				.ui-state-default,
				.ui-state-active {
					color: color(white);
				}
			}

			&.ui-datepicker-today {
				background: none;

				&:before {
					background: color(primary);
				}

				a,
				.ui-state-default,
				.ui-state-active {
					color: color(white);
				}
			}

			a {
				color: color(dark);
			}
		}
	}
}

.hide-desktop {
	@include media("≥desktop") {
		display: none !important;
	}
}

.hide-mobile {
	@include media("≤desktop") {
		display: none !important;
	}
}

#wpadminbar {
	@include media("≥phone", "≤desktop") {
		@include transition(z-index 0.5s step-end);
		position: fixed;
		z-index: 100;

		body.menu-active & {
			@include transition(z-index 0.5s step-start);

			z-index: 30;
		}
	}
}

.horizontal-links {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		padding-left: 10px;
		margin-left: 10px;
		position: relative;
		font-size: 0px;

		&:before {
			@include transform(translateY(-50%));

			content: "";
			width: 1px;
			height: 60%;
			left: -0.5px;
			top: 50%;
			position: absolute;
			background: color(dark);
		}

		&:first-child {
			padding: 0;
			margin: 0;

			&:before {
				display: none;
			}
		}

		a {
			font-size: 1rem;
		}
	}
}

.image-and-text {
	padding: 60px 0;

	.container {
		display: flex;

		&.image-left {
			flex-direction: row;

			.col-image {
				margin-right: 100px;
			}
		}

		&.image-right {
			flex-direction: row-reverse; 

			.col-image {
				margin-left: 100px;

				&:after {
					@include transform(translateY(-50%) translateX(10px));
					right: auto;
					left: -55.5px;
				}
			}
		}

		&.no-border {
			.col-image {
				&:after {
					display: none;
				}
			}
		}

		.col-image {
			flex: 0 0 360px;
			padding: 30px 0 30px;
			position: relative;

			&:after {
				@include transform(translateY(-50%) translateX(-10px));
				content: "";
				width: 1px;
				height: 80%;
				position: absolute;
				top: 50%;
				background: rgba(color(dark), .2);
				right: -55.5px;
			}

			.box {
				position: sticky;
				top: 30px;
			}
		}

		.col-text {
			flex-grow: 1;

			&.small-font {

				p, a {
				font-size: 12px;

				}
			}
		}
	}

	.image-wrapper,
	.img-wrapper {
		width: 350px;
		height: 350px;
		border-radius: 15px;
		overflow: hidden;
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
}

.child-theme {
	.menu-item-home {
		a {
			font-size: 0;

			&:before {
				content: map-get($icons, 'home');
				font-size: 17px;
				font-family: 'icomoon';
			}
		}

	}
}

.align-center {
	align-items: center;
}